<% layout('layouts/boilerplate.ejs')%>

<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">My Library</h2>

  <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-4 py-5">
    <!--  -->
    <% books.forEach(function(book){ %>
    <!--  -->
    <% book.readers.forEach(function(reader){ %>
    <!--  -->
    <%if( reader._id.toString() === user._id.toString()){ %>

    <div class="col-lg-6">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="<%= book.image %> "
              class="card-img"
              alt="<%= book.title %>'s cover image"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>
              <p class="card-title">
                <%= book.sub.toString() != 'undefined' ? book.sub : "" %>
              </p>
              <p class="card-text">Author: <%= book.author %></p>
              <p class="card-text">Publisher: <%= book.publisher %></p>
              <p class="card-text"><%= book.genre %></p>
              <% if(book.bookLink){ %>
              <a
                href="<%= book.bookLink %> "
                target="_blank"
                class="btn btn-info"
              >
                Preview
              </a>
              <% } %>
              <a href="/books/<%= book._id %> " class="btn btn-success"
                >View book</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <!--  -->
    <%}) %>
    <!--  -->
    <%}) %>
  </div>
</div>
