<% layout('layouts/boilerplate.ejs')%>
<h1>All Books</h1>

<a href="/books/new">add new books</a>
<% for (let book of books){ %>
<div class="card mb-3" style="width: 18rem">
  <div class="row">
    <div class="col-md-4"></div>
    <img src="<%=book.image%>" class="card-img-top" alt="..." />
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <p class="card-text"><%= book.desc %></p>
        <p class="card-text">
          <small class="text-muted"> <%= book.location %> </small>
        </p>
        <a href="/books/<%= book._id %> " class="btn btn-primary"
          >View <%= book.title %>
        </a>
      </div>
    </div>
  </div>
</div>
<% } %>
