<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noveltea</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/Styles/feed.css" />
  </head>

  <body class="d-flex flex-column vh-100">
    <main>
      <!-- Feed NavBar -->

      <nav class="feed-navbar">
        <div class="feed-navbar--main">
          <ul class="feed-navbar--item">
            <a href="/feed">home</a>
          </ul>
          <ul class="feed-navbar--item feed-navbar--dropdown">
            <a href="/feed">search</a>
            <div class="feed-navbar--dropdown-content">
              <ul class="feed-navbar--item">
                <a href="/books/new">Books</a>
              </ul>
              <ul class="feed-navbar--item">
                <a href="/user">friends</a>
              </ul>
            </div>
          </ul>
        </div>
        <img class="feed-navbar--logo" src="/images/Logo.png" />

        <% if(!currentUser){ %>

        <div class="feed-navbar--profile">
          <ul class="feed-navbar--item">
            <a href="/login">Login</a>
          </ul>
          <ul class="feed-navbar--item">
            <a href="/register">Register</a>
          </ul>
        </div>
        <% } else { %>

        <div class="feed-navbar--profile">
          <ul class="feed-navbar--item">
            <a href="/user/<%= currentUser._id %> ">profile</a>
          </ul>
          <ul class="feed-navbar--item">
            <a href="/logout">logout</a>
          </ul>
        </div>
        <% } %>
      </nav>

      <!-- Header -->
      <div class="feed-header">
        <div class="feed-header--content">
          <h1 class="feed-header--header">
            welcome, <%= currentUser.username %>
          </h1>
          <p class="feed-header--sub">
            Read, review, discuss. Join the <br />
            conversation and spill some tea.<br />
            We are all booklovers here.
          </p>
        </div>
        <div class="feed-header--image-container">
          <img class="feed-header--image" src="/images/feed-main.png" />
        </div>
      </div>

      <!-- Main Feed -->
      <div class="main-feed">

        <!-- Left container -->
        <div class="main-feed--left-container">
          <h3>Recommended for you</h3>
          <div class="main-feed--left-image-container">
            <img
              class="main-feed--left-image-container"
              src="/images/WOK.jpg"
            ></img>
          </div>
        </div>

        <div class="main-feed--middle-container">
          <h2>News feed</h2>
          <% currentUser.friends.forEach(async function(friend) { %>
            <!--  -->
            <% feedMessages.forEach(async function(message) { %>
            <!--  -->
            <% if(message.reader._id.toString()===friend.toString()){ %>
            <!--  -->
          <div class="feed-card">
            <img
            src="<%= message.reader.image.url %> "
            alt=""
            class="feed-card--profile-image"
          />
            <div class="feed-card--text">
              <h4 class="feed-card--username">
                <%= message.reader.username %>
              </h4>
              <span class="feed-card--update-message"><%= message.body %></span>
              <span class="feed-card--book-name"><%= message.book.title %></span>         
              <span class="feed-card--update-message">
                <%= message.body.toString() === 'removed' ? "from their library"
                :"" %></span
              >
              
            <div class="feed-card---image-container">
              <img class="feed-card--image" src="<%= message.book.image %> " />
            </div>
            </div>
          </div>
             <!-- Add Comment card -->
             <div class="comment-card">
              <img
                src="<%= currentUser.image.url %> "
                alt=""
                class="comment-card--image"
              />
              <h5 class="comment-card--username"><%= currentUser.username %></h5>
              <form
              action="/feed/<%= message._id %>/comment"
              method="POST"
              class="validated-form"
              novalidate
            >
              <input
              class="comment-card--comment-label"
              placeholder="Comment Here..."
              type="text"
              id="comment"
              name="comment"
              aria-label="feed[Comment]"
              required
              autofocus
            />
              <button
                type="submit"
                class="comment-card--icon"
                >
                <i class="fas fa-comment ">X</i>
  
              </button>
              </form>
            </div>
          <!-- Comment Cards -->
          <% if(message.comments) {%> 
            <!--  -->
            <% message.comments.forEach(function(comment){ %>
              <div class="comment-card comment">
                <img
                  src="<%= comment.author.image.url %> "
                  alt=""
                  class="comment-card--image"
                />
                <h5 class="comment-card--username"><%= comment.author.username %></h5>
                <p class="comment-card--comment"><%= comment.body %> </p>
                </div>

            <% }) %> 
            <!--  -->     
            <% } %> 
       

          <% } %>
          <!--  -->
          <% } )%>
          <!--  -->
          <% } )%>
        </div>

        


        <!-- Right container -->
        <div class="main-feed--right-container">
          <h3>Most read, right now</h3>
          <img class="main-feed--right-image-container">
            <img
              class="main-feed--right-image-container"
              src="/images/WOK.jpg"
            />
          </div>
        </div>


      </div>
    </main>

    <!-- Bootstrap JS (including popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/Scripts/search.js"></script>

    <script src="/Scripts/validateForms.js"></script>
    <script src="https://kit.fontawesome.com/c4924f19e5.js" crossorigin="anonymous"></script>
  </body>
</html>
