<% layout('layouts/boilerplate.ejs')%>

<!-- Book reviews/ratings -->
<!-- for all books -->
<div class="container">
  <% books.forEach(async function(book) { %> <%if(book.reviews.length > 0){ %>
  <div class="row">
    <div class="col">
      <div class="card mb-3">
        <!-- if book has review -->

        <!--  -->
        <h5 class="card-title"><%= book.title %></h5>

        <% book.reviews.forEach(async function(review) { %>
        <h5 class="card-title"><%= review.author.username %></h5>
        <h6 class="card-text mb-2"><%= review.body%></h6>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated <%= review.rating %> stars
        </p>

        <% } )%>
        <!-- End for all books -->
        <a href="/books/<%= book._id %> " class="btn btn-primary"
          >View <%= book.title %>
        </a>
      </div>
    </div>
    <% } %> <% } )%>

    <!-- USers -->
    <div class="col">
      <!-- for all books -->
      <% users.forEach(async function(user) { %>
      <div class="card mb-3 p-3">
        <a href="/user/<%= user._id %> "
          ><h5 class="card-title"><%= user.username %></h5></a
        >
        <h5 class="card-subtitle"><%= user.email %></h5>
      </div>

      <% } )%>
    </div>
  </div>
</div>
