<% layout('layouts/boilerplate.ejs')%>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="
          <%= user.image.url 
          ? user.image.url 
          : '/images/default_profile_image.jpg'%>"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= user.username %></h5>
          <% if( user.email == currentUser.email) { %>
          <a href="/user/edit/<%= user._id %>" class="btn btn-info"> edit </a>
          <% } if(user.email != currentUser.email){ %>
          <form
            method="POST"
            action="/user/<%= currentUser._id %>/friend/<%= user._id %> "
          >
            <button class="btn btn-info">Add freind</button>
          </form>
          <% } %>
        </div>
      </div>

      <!-- BOOKS -->
      <%for (let book of user.books){ %>
      <div class="card" style="width: 18rem">
        <img
          src="
          <%= book.image
          ? book.image 
          : '/images/default_profile_image.jpg'%>"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <a href="/books/<%= book._id %> " class="btn btn-primary"
            >View <%= book.title %>
          </a>
        </div>
      </div>
      <% } %>
    </div>

    <!--  -->

    <% users.forEach(async function(user) { %>
    <!--  -->
    <% currentUser.friends.forEach(async function(friend) { %>
    <!--  -->
    <% if (user._id.equals(friend._id)) {%>
    <!--  -->
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="<%= user.image.url %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= user.username %></h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <% } %>
    <!--  -->
    <%})%>
    <!--  -->
    <%}) %>
  </div>
</div>

<!-- 
0 :60c13de8330a5e73380dbe97
1 :60c14216159e7520f4b143cc 
-->
