<% layout('layouts/boilerplate.ejs')%>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img
                    src="
                  <%= user.image.url 
                  ? user.image.url 
                  : '/images/default_profile_image.jpg'%>"
                    class="img-radius w-100"
                    alt="User-Profile-Image"
                  />
                </div>
                <h6 class="f-w-600"><%= user.username %></h6>

                <% if(user._id.toString() === currentUser._id.toString()){ %>
                <a href="/user/edit/<%= user._id %>" class="btn btn-primary"
                  >edit</a
                >
                <%} %>
                <!--  -->
                <% if(user._id.toString() !== currentUser._id.toString()){ %>
                <form
                  method="post"
                  action="/user/<%= currentUser._id %>/friend/<%= user._id %>"
                >
                  <button type="submit" class="btn btn-primary">
                    Add Friend
                  </button>
                </form>
                <%} %>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400"><%= user.email %></h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone</p>
                    <h6 class="text-muted f-w-400">98979989898</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container col-xxl-16 px-4 py-5">
        <div class="row flex-lg-row-reverse g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <% notifications.forEach(function(notification){%>
            <!--  -->
            <% if(notification.reciever.username === currentUser.username){ %>
            <!--  -->
            <% if(!notification.read){ %>

            <div class="card">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img
                    src="<%=notification.sender.image.url %> "
                    class="card-img"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= notification.sender.username %>
                    </h5>
                    <p class="card-title">commented on your update</p>
                    <p class="card-text"></p>
                    <p class="card-text">comment: <%= notification.body %></p>
                    <button class="btn btn-info">close</button>
                  </div>
                </div>
              </div>
            </div>

            <%} %>
            <!--  -->
            <%} %>
            <!--  -->
            <%}) %>
          </div>

          <div class="col-lg-6">
            <h2 class="display-5 fw-bold lh-1 mb-3">Friends</h2>
            <% user.friends.forEach(async function(friend) { %>
            <div class="card mb-3 p-3">
              <a href="/user/<%= friend._id %> "
                ><h5 class="card-title"><%= friend.username %></h5></a
              >
              <h5 class="card-subtitle"><%= friend.email %></h5>
            </div>
            <% } )%>
          </div>
        </div>
      </div>

      <div class="container col-xxl-8 px-4 py-5">
        <h2 class="display-5 fw-bold lh-1 mb-3">Books</h2>
        <% for (let book of user.books){ %>

        <div class="row no-gutters float-start">
          <a href="/books/<%= book._id %> ">
            <img
              src="<%= book.image %> "
              class="card-img"
              alt="<%= book.title %>'s cover image"
            />
          </a>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</div>
